
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff0f5;
  color: #333;
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
  font-family: 'Georgia', cursive;
}

section {
  padding: 60px 20px;
}
